body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
    border: 2px solid black;
}

.successtext {
    display:flex;
    justify-content: center;
    align-items:center;
}